@import "bootstrap/scss/bootstrap";
@import "./styles.scss";
@import './HomePage.scss';
@import './Navbar.scss';
@import './Buttons.scss';
@import './ResourcesPage.scss';
@import './Card.scss';
@import './FilmPage.scss';


* {
	font-family: $font-default;
}

a {
	text-decoration: none;
	display: flex;
	justify-content: center;
}

#App {
	min-height: 100vh;
	width: 100%;

	background: no-repeat center center fixed;
	background-size: cover;

	// background for less than large screens:
	@media screen and (max-width: 991.9px) {
		background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../img/star-wars-city-small.jpg');

	}

	// background for large screens:
	background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
	url('../img/star-wars-city-large.jpg');

}


.info-box {
	background-color: $info-box-beige;
	border: solid 1px black;
	color: $text-white;
	padding: 40px;
	border-radius: 15px;
	text-align: center;

}