#HomePage {
	button.button {
		margin-top: 17%;
		font-family: $font-default;
		padding: 0.5em 1.7em;
		border-radius: 35px;
		font-size: 1.5rem;

		&:hover {
			background-color: rgb(123, 110, 99, 0.9);
			box-shadow: 0.2em 0.2em 40px rgb(255, 255, 255);
		}

	}
}