/* .resource-list {
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/star-wars-city-small.jpg');

} */
.ResourcesPage {

	.list-group {
		/* Center horizontally */
		margin: 0 auto;

		@media screen and (min-width: 992px) {
			max-width: 60%;
			display: block;
		}

	}


}