// info-boxes
$info-box-beige: rgb(176, 150, 133, 0.9);
$button-hover-color: rgb(123, 110, 99, 0.9);
$button-disabled-color: #7B6E63;
$text-white: white;
$font-logo: 'Rajdhani', sans-serif;
$font-default: 'Quattrocento Sans', sans-serif;