// info-boxes
$info-box-beige: rgb(176, 150, 133, 0.9);
$button-beige: #76685a;
$button-hover-color: #725f4b;
$button-disabled-color: #7B6E63;
$text-white: white;
$font-logo: 'Rajdhani', sans-serif;
$font-default: 'Quattrocento Sans', sans-serif;